<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!--Folder containing AngularJS with deprecated code-->
		<add key="ScriptsFolder" value="" />
		<!--Folder where the refactored code will be saved-->
		<add key="RefactorFolder" value =""/>]
		<!--(Optional) BeyondCompare.exe location that will be used to merge the deprecated code with the refactored code-->
		<add key="BeyondCompareExe" value="C:\Program Files\Beyond Compare 4\BCompare.exe"/>
		<!--File name to be refactored that is located in ScriptsFolder -->
		<add key="FileNameToRefactor" value="BonificacaoController"/>
	</appSettings>
</configuration>
